{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "simple-import-sort"
  ],
  "rules": {
    "default-param-last": "warn",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
